# Data files (except final results in data/)
*.gz
*.log
*.tsv
*.tgz
sumstats/
munge/
out/
ref/
filters/
scripts/batch*.sh
nohup.out
*.pid
*_OLD/
*_BROKEN/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
